<main class="main-content bg-lighter">
    {% include 'home/sections/_hero_slider.html.twig' %}
    {% include 'home/sections/_popular_posts.html.twig' %}
    {% include 'home/sections/_category_slider.html.twig' %}
    {% include 'home/sections/_featured_block.html.twig' %}
    {% include 'home/sections/_latest_stories.html.twig' %}
</main>
