<aside id="sidebar-wrapper" class="custom-scrollbar offcanvas-sidebar">

    <button class="off-canvas-close">
        <i class="athena-cancel"></i>
    </button>

    <div class="sidebar-inner">

        <div class="sidebar-widget widget-creative-menu">
            <ul>
                <li><a href="{{ path('home') }}">Главная</a></li>
                <li><a href="{{ path('app_blog') }}">Все публикации</a></li>

                <li><a href="#">Ремонт ванной</a></li>
                <li><a href="#">Плитка и отделка</a></li>
                <li><a href="#">Дизайн интерьера</a></li>
            </ul>
        </div>

        <div class="offcanvas-copyright">
            <p class="text-muted text-uppercase mb-0">Блог о ремонте</p>
            <p class="text-muted mb-0 font-medium">Практичные советы и идеи</p>
        </div>

    </div>

</aside>
