{% extends 'base.html.twig' %}
{% block title %}403 | Доступ запрещён
{% endblock %}
{% block body %}
	<div class="container py-5 text-center">
		<h1 class="display-1">403</h1>
		<h2 class="mb-3">Доступ запрещён</h2>
		<p class="mb-4">
			У вас недостаточно прав для просмотра этой страницы.
		</p>
		<a href="/" class="btn btn-dark">Вернуться на главную</a>
	</div>
{% endblock %}
